<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление объявления</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</head>
<body style="background-color: rgba(238,183,131,0.89)">
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/viewAuthorisedAdverts" onclick="window.name = '0'" style="color: white">Главная <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/profile" style="color: white">Профиль <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <form th:action="@{/logout}" method="post">
                    <input type="submit"
                           value="Выход"
                           style="margin-top: 7px; background-color: #343940; color: white; border: 0"/>
                </form>
            </li>

        </ul>

    </div>
</nav>


<h1 style="align: center; margin: 100px 0px 0px 740px">Заполните все поля</h1>
<div style="width: 30vw; height: 20vw; position: absolute; top: 12vw; left: 35vw; right: 50vw">
    <form th:action="@{/saveAdvert}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>Изображения</label>
            <input required type="file" class="form-control" id="picture" name="picture" multiple accept="image/*,image/jpeg" placeholder="Изображение">
        </div>
        <div class="form-group">
            <label>Название</label>
            <input required type="text" class="form-control" name="name" placeholder="Название">
        </div>
        <div class="form-group">
            <label>Описание</label>
            <textarea required type="text" class="form-control" name="description" placeholder="Описание"></textarea>
        </div>
        <div class="form-group">
            <label>Город</label>
            <input required type="text" class="form-control" name="city" placeholder="Город">
        </div>
        <div class="form-group">
            <label>Цена</label>
            <input required type="text" class="form-control" name="cost" placeholder="Цена">
        </div>
        <div class="form-group">
            <select size="5" multiple name="tags[]" id="tags[]" style="width: 30vw">
                <option disabled>Выберите тему объявления</option>
                <option value="ТРАНСПОРТ" style="background-color: gray">ТРАНСПОРТ</option>
                <option value="Автомобили">Автомобили</option>
                <option value="Мотоциклы и мототехника">Мотоциклы и мототехника</option>
                <option value="Грузовики и спецтехника">Грузовики и спецтехника</option>
                <option value="Водный транспорт">Водный транспорт</option>
                <option value="Запчасти и аксесуары">Запчасти и аксесуары</option>
                <option value="Инструменты">Инструменты</option>
                <option value="Шины, диски, колеса">Шины, диски, колеса</option>
                <option value="Аудио- и видеотехника">Аудио- и видеотехника</option>
                <option value="Прицепы">Прицепы</option>
                <option value="Тюнинг">Тюнинг</option>
                <option value="Автокосметика и автохимия">Автокосметика и автохимия</option>
                <option value="Противоугонные устройства">Противоугонные устройства</option>
                <option value="Навигаторы">Навигаторы</option>

                <option value="НЕДВИЖИМОСТЬ" style="background-color: gray">НЕДВИЖИМОСТЬ</option>
                <option value="Квартиры">Квартиры</option>
                <option value="Комнаты">Комнаты</option>
                <option value="Дома, дачи, коттеджи">Дома, дачи, коттеджи</option>
                <option value="Земельные участки">Земельные участки</option>
                <option value="Гаражи и машиноместа">Гаражи и машиноместа</option>
                <option value="Комерческая недвижимость">Комерческая недвижимость</option>
                <option value="Недвижимость за рубежом">Недвижимость за рубежом</option>

                <option value="РАБОТА" style="background-color: gray">РАБОТА</option>
                <option value="Вакансии">Вакансии</option>
                <option value="Резюме">Резюме</option>
                <option value="УСЛУГИ" style="background-color: gray">УСЛУГИ</option>

                <option value="ЛИЧНЫЕ ВЕЩИ" style="background-color: gray">ЛИЧНЫЕ ВЕЩИ</option>
                <option value="Одежда, обувь, аксессуары">Одежда, обувь, аксессуары</option>
                <option value="Детская одежда и обувь">Детская одежда и обувь</option>
                <option value="Товары для детей и игрушки">Товары для детей и игрушки</option>
                <option value="Красота и здоровье">Красота и здоровье</option>
                <option value="Часы и украшения">Часы и украшения</option>

                <option value="ДЛЯ ДОМА И ДАЧИ" style="background-color: gray">ДЛЯ ДОМА И ДАЧИ</option>
                <option value="Ремонт и строительство">Ремонт и строительство</option>
                <option value="Мебель и интерьер">Мебель и интерьер</option>
                <option value="Бытовая техника">Бытовая техника</option>
                <option value="Продукты питания">Продукты питания</option>
                <option value="Растения">Растения</option>
                <option value="Посуда и товары для кухни">Посуда и товары для кухни</option>

                <option value="ЭЛЕКТРОНИКА" style="background-color: gray">ЭЛЕКТРОНИКА</option>
                <option value="Компьютеры">Компьютеры</option>
                <option value="Телевизоры">Телевизоры</option>
                <option value="Мониторы">Мониторы</option>
                <option value="Аудиотехника">Аудиотехника</option>
                <option value="Видеотехника">Видеотехника</option>
                <option value="Фототехника">Фототехника</option>
                <option value="Телефоны">Телефоны</option>
                <option value="Планшеты и электронные книги">Планшеты и электронные книги</option>
                <option value="Аксессуары для электроники">Аксессуары для электроники</option>

                <option value="ОХОТА И РЫБАЛКА" style="background-color: gray">ОХОТА И РЫБАЛКА</option>
                <option value="МУЗЫКАЛЬНЫЕ ИНСТРУМЕНТЫ" style="background-color: gray">МУЗЫКАЛЬНЫЕ ИНСТРУМЕНТЫ</option>
                <option value="КНИГИ" style="background-color: gray">КНИГИ</option>
                <option value="СПОРТ" style="background-color: gray">СПОРТ</option>
                <option value="ОТДЫХ" style="background-color: gray">ОТДЫХ</option>

                <option value="ЖИВОТНЫЕ" style="background-color: gray">ЖИВОТНЫЕ</option>
                <option value="Собаки">Собаки</option>
                <option value="Кошки">Кошки</option>
                <option value="Птицы">Птицы</option>
                <option value="Рыбы">Рыбы</option>
                <option value="Другие животные">Другие животные</option>
                <option value="Товары для животных">Товары для животных</option>
            </select></p>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-left: 12vw">Добавить</button>
    </form>
</div>
</body>
</html>