<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Mafia</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="/js/profile.js"></script>
</head>
<body style="background-color: rgba(238,183,131,0.89)">
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/viewAuthorisedAdverts" onclick="window.name = '0'" style="color: white">Главная <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/profile" style="color: white">Профиль <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <form th:action="@{/logout}" method="post">
                    <input type="submit"
                           value="Выход"
                           style="margin-top: 7px; background-color: #343940; color: white; border: 0"/>
                </form>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Я для красоты ¯\_(ツ)_/¯">
        </form>
    </div>
</nav>
<!--<div class="container">-->
<!--    <div id="login"></div>-->
<!--    <br>-->
<!--    <div id="name"></div>-->
<!--    <br>-->
<!--    <div id="email"></div>-->
<!--    <br>-->
<!--    <div id="phoneNumber"></div>-->

<div style="width: 20vw; height: 20vw; position: absolute; top: 17vw; left: 40vw; right: 50vw">
    <form th:action="@{/changeUserData}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>Name</label>
            <input required type="text" name="name" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input required type="text" name="email" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label>Phone number</label>
            <input required type="text" name="phoneNumber" class="form-control" id="phoneNumber">
        </div>
        <div class="form-group">
            <label>Login</label>
            <input required type="text" name="login" class="form-control" id="login">
        </div>
        <div class="form-group">
            <label>Ваши интересы:</label>
            <ul id="interes"></ul>
        </div>
        <div class="form-group">
            <select size="3" multiple name="tags[]" id="tags[]" style="width: 20vw">
                <option disabled>Выберите интересующие вас темы</option>
                <option value="Job">Работа</option>
                <option selected value="Cars">Автомобили</option>
                <option value="Appliances">Бытовая техника</option>
            </select></p>
        </div>
        <button type="submit" class="btn btn-primary">Внести изменения профиля</button>
    </form>
</div>

</body>
</html>